#App {
  display: block;
}

.containers {
  height: 100vh;
  display: flex;
}

#drawer {
  display: flex;
  flex-basis: 150px;
  min-width: 150px;
  flex-grow: 0.5;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

#content {
  display: flex;
  flex-basis: auto;
  flex-grow: 3;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

#note-input-container {
  display: flex;
  flex-basis: 50%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}

#note-input {
  flex: 1;
}

#note-preview-container {
  display: flex;
  flex-basis: 50%;
  height: 100%;
  padding: 5px;
  box-sizing: border-box;
}
